@model RestaPointsRestaurant.Models.Kilpailut

@{
    ViewData["Title"] = "Muokkaa Kilpailua";
}


<h4>Kilpailu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MuokkaaKilpailut">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Kuvat" class="control-label"></label>
                <input asp-for="Kuvat" class="form-control" />
                <span asp-validation-for="Kuvat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nimi" class="control-label"></label>
                <input asp-for="Nimi" class="form-control" />
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Selite" class="control-label"></label>
                <input asp-for="Selite" class="form-control" />
                <span asp-validation-for="Selite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Osallistujat" class="control-label"></label>
                <input asp-for="Osallistujat" class="form-control" />
                <span asp-validation-for="Osallistujat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlkuAika" class="control-label"></label>
                <input asp-for="AlkuAika" class="form-control" />
                <span asp-validation-for="AlkuAika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoppuAika" class="control-label"></label>
                <input asp-for="LoppuAika" class="form-control" />
                <span asp-validation-for="LoppuAika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tavoite" class="control-label"></label>
                <input asp-for="Tavoite" class="form-control" />
                <span asp-validation-for="Tavoite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Palkinto" class="control-label"></label>
                <input asp-for="Palkinto" class="form-control" />
                <span asp-validation-for="Palkinto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Linkit" class="control-label"></label>
                <input asp-for="Linkit" class="form-control" />
                <span asp-validation-for="Linkit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Kilpailut">Takaisin listaan</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
