@{
    ViewData["Title"] = "Ota yhteyttä";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    RestaPoints<br />
    Mäkikatu 3 A 11 Kuopio 70110<br />
    <abbr title="Phone">P:</abbr>
    444 231 23003
</address>

<address>
    <strong>Tuki:</strong> <a href="mailto:RestaPoints@restapoints.com">RestaPoints@restapoints.com</a><br />
    <strong>Markkinointi:</strong> <a href="mailto:MarketinRestaPointsg@restapoints.com">MarketinRestaPointsg@restapoints.com</a>
</address>
